# THIS PROJECT IS ON WALMART'S SALES #

***Importing and Loading Data***

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
df = pd.read_excel("Walmart_sales_final.xlsx")

In [4]:
df.head()

,Store,Date,Day,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment %
0,1,2010-02-05,Friday,1643690.90,0,42.31,2.572,211.096358,8.106
1,2,2010-02-12,Friday,1641957.44,1,38.51,2.548,211.242170,8.106
2,3,2010-02-19,Friday,1611968.17,0,39.93,2.514,211.289143,8.106
3,4,2010-02-26,Friday,1409727.59,0,46.63,2.561,211.319643,8.106
4,5,2010-03-05,Friday,1554806.68,0,46.50,2.625,211.350143,8.106

***Inspecting Data***

In [5]:
df.shape

(29, 9)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Store           29 non-null     int64
 1   Date            29 non-null     datetime64[ns]
 2   Day             29 non-null     object
 3   Weekly_Sales    29 non-null     float64
 4   Holiday_Flag    29 non-null     int64
 5   Temperature     29 non-null     float64
 6   Fuel_Price      29 non-null     float64
 7   CPI             29 non-null     float64
 8   Unemployment %  29 non-null     float64
dtypes: datetime64[ns](1), float64(5), int64(2), object(1)
memory usage: 2.2+ KB

In [7]:
df.describe()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment %
count,29.000000,29,2.900000e+01,29.000000,29.000000,29.000000,29.000000,29.000000
mean,15.000000,2010-05-14 00:00:00,1.499543e+06,0.034483,69.266552,2.686655,211.071499,7.884414
min,1.000000,2010-02-05 00:00:00,1.371987e+06,0.000000,38.510000,2.514000,210.337426,7.787000
25%,8.000000,2010-03-26 00:00:00,1.425101e+06,0.000000,57.790000,2.627000,210.820450,7.787000
50%,15.000000,2010-05-14 00:00:00,1.494252e+06,0.000000,74.780000,2.668000,211.215635,7.808000
75%,22.000000,2010-07-02 00:00:00,1.554807e+06,0.000000,81.840000,2.759000,211.350143,8.106000
max,29.000000,2010-08-20 00:00:00,1.643691e+06,1.000000,87.160000,2.854000,211.639421,8.106000
std,8.514693,NaN,8.453908e+04,0.185695,15.798791,0.089893,0.397586,0.139467

In [9]:
df.isnull()

,Store,Date,Day,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment %
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False

***Creating new Columns***

In [12]:
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Week'] = df['Date'].dt.isocalendar().week

In [13]:
df.describe()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment %,Year,Month,Week
count,29.000000,29,2.900000e+01,29.000000,29.000000,29.000000,29.000000,29.000000,29.0,29.000000,29.0
mean,15.000000,2010-05-14 00:00:00,1.499543e+06,0.034483,69.266552,2.686655,211.071499,7.884414,2010.0,4.931034,19.0
min,1.000000,2010-02-05 00:00:00,1.371987e+06,0.000000,38.510000,2.514000,210.337426,7.787000,2010.0,2.000000,5.0
25%,8.000000,2010-03-26 00:00:00,1.425101e+06,0.000000,57.790000,2.627000,210.820450,7.787000,2010.0,3.000000,12.0
50%,15.000000,2010-05-14 00:00:00,1.494252e+06,0.000000,74.780000,2.668000,211.215635,7.808000,2010.0,5.000000,19.0
75%,22.000000,2010-07-02 00:00:00,1.554807e+06,0.000000,81.840000,2.759000,211.350143,8.106000,2010.0,7.000000,26.0
max,29.000000,2010-08-20 00:00:00,1.643691e+06,1.000000,87.160000,2.854000,211.639421,8.106000,2010.0,8.000000,33.0
std,8.514693,NaN,8.453908e+04,0.185695,15.798791,0.089893,0.397586,0.139467,0.0,1.962706,8.514693

***analysis with pandas***

***total sales***

In [14]:
df['Weekly_Sales'].sum()

np.float64(43486753.17)

***using numpy for quick math***

In [16]:
sales = df['Weekly_Sales'].values

In [17]:
np.mean(sales)

np.float64(1499543.2127586207)

In [18]:
np.median(sales)

np.float64(1494251.5)

In [19]:
np.std(sales)

np.float64(83068.72466964494)

In [20]:
df

,Store,Date,Day,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment %,Year,Month,Week
0,1,2010-02-05,Friday,1643690.90,0,42.31,2.572,211.096358,8.106,2010,2,5
1,2,2010-02-12,Friday,1641957.44,1,38.51,2.548,211.242170,8.106,2010,2,6
2,3,2010-02-19,Friday,1611968.17,0,39.93,2.514,211.289143,8.106,2010,2,7
3,4,2010-02-26,Friday,1409727.59,0,46.63,2.561,211.319643,8.106,2010,2,8
4,5,2010-03-05,Friday,1554806.68,0,46.50,2.625,211.350143,8.106,2010,3,9
5,6,2010-03-12,Friday,1439541.59,0,57.79,2.667,211.380643,8.106,2010,3,10
6,7,2010-03-19,Friday,1472515.79,0,54.58,2.720,211.215635,8.106,2010,3,11
7,8,2010-03-26,Friday,1404429.92,0,51.45,2.732,211.018042,8.106,2010,3,12
8,9,2010-04-02,Friday,1594968.28,0,62.27,2.719,210.820450,7.808,2010,4,13
9,10,2010-04-09,Friday,1545418.53,0,65.86,2.770,210.622857,7.808,2010,4,14
10,11,2010-04-16,Friday,1466058.28,0,66.32,2.808,210.488700,7.808,2010,4,15
11,12,2010-04-23,Friday,1391256.12,0,64.84,2.795,210.439123,7.808,2010,4,16
12,13,2010-04-30,Friday,1425100.71,0,67.41,2.780,210.389546,7.808,2010,4,17
13,14,2010-05-07,Friday,1603955.12,0,72.55,2.835,210.339968,7.808,2010,5,18
14,15,2010-05-14,Friday,1494251.50,0,74.78,2.854,210.337426,7.808,2010,5,19
15,16,2010-05-21,Friday,1399662.07,0,76.44,2.826,210.617093,7.808,2010,5,20
16,17,2010-05-28,Friday,1432069.95,0,80.44,2.759,210.896761,7.808,2010,5,21
17,18,2010-06-04,Friday,1615524.71,0,80.69,2.705,211.176428,7.808,2010,6,22
18,19,2010-06-11,Friday,1542561.09,0,80.43,2.668,211.456095,7.808,2010,6,23
19,20,2010-06-18,Friday,1503284.06,0,84.11,2.637,211.453772,7.808,2010,6,24
20,21,2010-06-25,Friday,1422711.60,0,84.34,2.653,211.338653,7.808,2010,6,25
21,22,2010-07-02,Friday,1492418.14,0,80.91,2.669,211.223533,7.787,2010,7,26
22,23,2010-07-09,Friday,1546074.18,0,80.48,2.642,211.108414,7.787,2010,7,27
23,24,2010-07-16,Friday,1448938.92,0,83.15,2.623,211.100385,7.787,2010,7,28
24,25,2010-07-23,Friday,1385065.20,0,83.36,2.608,211.235144,7.787,2010,7,29
25,26,2010-07-30,Friday,1371986.60,0,81.84,2.640,211.369903,7.787,2010,7,30
26,27,2010-08-06,Friday,1605491.78,0,87.16,2.627,211.504662,7.787,2010,8,31
27,28,2010-08-13,Friday,1508237.76,0,87.00,2.692,211.639421,7.787,2010,8,32
28,29,2010-08-20,Friday,1513080.49,0,86.65,2.664,211.603363,7.787,2010,8,33